<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389659221409-k6i46smmqn8jdurpkq9cjfs04v1mhq2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389659221409-k6i46smmqn8jdurpkq9cjfs04v1mhq2l</string>
	<key>API_KEY</key>
	<string>AIzaSyAQnDSss0LqPk6GMj40EPah7MU8o7Gibr4</string>
	<key>GCM_SENDER_ID</key>
	<string>389659221409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zesdro.media</string>
	<key>PROJECT_ID</key>
	<string>zesdro-91f5c</string>
	<key>STORAGE_BUCKET</key>
	<string>zesdro-91f5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389659221409:ios:b98b522f4eff4d338fbfe0</string>
</dict>
</plist>